<body>
  <div id="sent">
  <h1> Sent: </h1>
    <% if @requested_spaces %>
      <% @requested_spaces.each do |space| %>
        <%= space.name %>
        <br>
      <% end %>
    <% end %>
  </div>

  <div id="received">
  <h1> Received: </h1>
    <% if @my_spaces %>
      <% @my_spaces.each do |space| %>
        <%= space.name %>
        <br>
      <% end %>
    <% end %>
  </div>

  
</body>