<head>
  <title> Sign In </title>
  <link type="text/css" rel="stylesheet" body="body "href="<%=url('/style.css')%>" />
</head>

<body>

  <form action='/sessions' method='post'>
    <label for='username' > Username: </label>
    <input type='text' name='username' required><br>
    <label for='password' > Password: </label>
    <input type='password' name='password' required><br>
    <input type='submit' value='Submit'>
  </form>

  <p>Not registered? <a href="registrations/new">Sign Up</a> instead</p>

  <%= flash[:notice] %>

</body>
