<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" body="body "href="<%=url('/style.css')%>" />
  </head>

    <body>
      <div class='container'>
        <h1>Sign in below</h1>
        <form action='/sessions' method='post'>
          <input type='text' class='input_field' name='username' placeholder='Username' required><br>
          <input type='password' class='input_field' name='password' placeholder='Password' required><br>
          <input type='submit' class='button' value='Submit'>
        </form>

        <p>Not registered? <a href="registrations/new">Sign Up</a> instead</p>

      <%= flash[:notice] %>
      </div>
    </body>
</html>
