<form action='/sessions' method='post'>
  <label for='username' > Username: </label>
  <input type='text' name='username' required>
  <label for='password' > Password: </label>
  <input type='password' name='password' required>
  <input type='submit' value='Submit'>
</form>

<p>Not registered? <a href="registrations/new">Sign Up</a> instead</p>

<%= flash[:notice] %>
