<p>Complete the form below to register your space!</p>
<form action='/spaces' method='post'>
  <label for='name' > Name: </label>
  <input type='text' name='name' required>
  <label for='description' > Description: </label>
  <input type='text' name='description' required>
  <label for='price_per_night' > Price per night: </label>
  <input type='text' name='price_per_night' required>
  <label for='start_date' > First available date: </label>
  <input type='date' name='start_date' required>
  <label for='end_date' > Last available date: </label>
  <input type='date' name='end_date' required>
  <input type='submit' value='Submit'>
</form>
