body {
    padding: 100px 0;
    background: #aef1f3;
    background: -webkit-linear-gradient(top, #aef1f3 0%, #fff 100%);
    background: -linear-gradient(top, #aef1f3 0%, #fff 100%);
    background: -moz-linear-gradient(top, #aef1f3 0%, #fff 100%);
  }


  