body {
    padding: 100px 0;
    background: #b3e6ff;
    background: -webkit-linear-gradient(top, #b3e6ff 0%, #fff 100%);
    background: -linear-gradient(top, #b3e6ff 0%, #fff 100%);
    background: -moz-linear-gradient(top, #b3e6ff 0%, #fff 100%);
  }

