html, body {
  font-family: Nunito;
}

.banner {
  margin-left: 20%;
  width: 100%;
  height: 100px;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.listings {
  width: 50%; height: 100%; margin: 0 auto; text-align: left;
}

.space_listing {

}


.banner_button {
  margin-left: 70%;
  max-width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}

.banner_butt {
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
  margin: 5px 5px 5px 5px;
}

.spacer {
  background-color: white;
  width: 100%;
  height: 95px;
}

::placeholder {
  color: grey;
}

.container {
  padding-top: 5%;
  display:flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_field {
  padding: 20px;
  width: 140%;
  font-size: 100%;
  margin: 5px 5px 5px 5px;
}

.button {
  border-radius: 12px;
  padding: 15px 30px;
  margin: 5px 5px 5px 5px;
}


a {
  color: inherit;
}

.small_butt {
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
  margin: 2px 2px 2px 2px;
}

#requests {
  height: 60%;
  width: 60%;
}

#sent {
  display:inline;
  float: right;
}

#received {
  display:inline;
  float: left;
}


footer {
  margin: auto;
  text-align: center;
  padding-top: 20px;
  position: relative;
  bottom: 0;
}
