<head>
    <title> </title>
      <link type="text/css" rel="stylesheet" href="<%=url('/style.css')%>" />
  </head>

<% if current_user %>
  <p><b>Hi, <%= current_user.name %> </b></p>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Sign Out">
  </form>

<% else %>
  <form action="/registrations/new">
    <input type="submit" value="Sign Up">
  </form>

  <form action="/sign_in">
    <input type="submit" value="Sign In">
  </form>
<% end %>

<%= flash[:notice] %>
