<% if current_user %>
  Hi, <%= current_user.name %>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Sign Out">
  </form>

<% else %>
  Hi,
  <form action="/sign_up">
    <input type="submit" value="Sign Up">
  </form>

  <form action="/sign_in">
    <input type="submit" value="Sign In">
  </form>
<% end %>
