<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title> Null BnB </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="<%=url('/style.css')%>" >
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap" rel="stylesheet">
    
    <div class="banner"> 
      <img alt="nullspaces" src="https://github.com/kiriarf/makersbnb/blob/styling/app/images/null_spaces.png?raw=true" width="400px" style="display: block;" space="20" />   
     

    <div class="banner_button" >
      <form action="/sessions" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="banner_butt" value="Sign Out">
      </form>

      <form action="/spaces/new" method="GET">
        <input type="submit" class="banner_butt" value="Add Space">
      </form>

      <form action="/registrations/new">
        <input type="submit" class="banner_butt" value="Sign Up">
      </form>

      <form action="/sign_in">
        <input type="submit" class="banner_butt"  value="Sign In">
      </form>

      <form action="/sessions/<%= current_user.id %>" method="GET">
      <input class="banner_butt" type="submit" value="My Account">
      </form>
    </div>

    </div>
    <div class="spacer">
    </div>


  </head>
  <body>

    <section>
      <%= yield %>
    </section>



    <footer> Null BnB &reg; 2020</footer>
  </body>
</html>